.navbar {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.navbar .logo {
    margin-left: 165px;
}

.nav--links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 197px;
    gap: 34px;
}

.nav--links a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav--links a:hover {
    color: var(--orange);
}

.nav--links a.link.active {
    color: var(--orange);
}

.navbar .cart {
    margin-right: 165px;
    margin-left: 317px;
}