.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding-top: 35px;
    padding-bottom: 0px;
    background-color: var(--black);
}

.navbar .container {
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
}

.navbar .line {
    margin: 0 auto;
    border-bottom: 1px solid var(--grey);
    width: 1110px;
}

.navbar .container .nav--links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 197px;
    margin-right: 200px;
    gap: 34px;
}

.navbar .container .nav--links a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .container .nav--links a:hover,
.navbar .container .nav--links a.link.active {
    color: var(--orange);
}

.navbar .container .cart {
    height: 15px;
    width: 24px;
}

.navbar .container .cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
